---

---

<button
  onclick="alert(`You clicked the button!`)"
  class="p-2 border border-theme-border-light-subtle dark:border-theme-border-dark-subtle hover:bg-theme-hover-bg-light dark:hover:bg-theme-hover-bg-dark-strong transition-colors duration-300 ease-in-out">
  Relative Button
</button>