@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-theme-bg-light dark:bg-theme-bg-dark;
  @apply text-theme-text-primary-light dark:text-theme-text-primary-dark;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-theme-bg-light/75 dark:bg-theme-bg-dark/25;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-p:font-serif;
  @apply prose-headings:text-theme-text-heading-light prose-headings:dark:text-theme-text-heading-dark;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-theme-link-decoration-light dark:decoration-theme-link-decoration-dark;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-theme-text-heading-light dark:text-theme-text-heading-dark;
    @apply decoration-theme-link-decoration-hover-light dark:decoration-theme-link-decoration-hover-dark;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}